ion-item {
  --padding-start: 0;
  --inner-padding-end: 20px;
  --inner-padding-start: 12px;
}
.numero-formatado {
    font-size: var(--font-size-scale-up-01);
    margin-bottom: 4px;
}
.nome-interessado {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.data {
    font-size: var(--font-size-scale-down-01);
}

.sigilo {
    height: calc(100% - 20px);
    width: 8px;
    background-color: red;
    margin-right: 8px;
    border-radius: 10px;
    margin: auto 12px auto 0;
}

.status-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:8px;
    justify-self: end;
}
// ::slotted(ion-label) {
//     margin-top: 4px!important;
//     margin-bottom: 4px!important;
// }

// ion-item h2 {
//   font-weight: 600;
//   margin: 0;
  
//   /**
//    * With larger font scales
//    * the date/time should wrap to the next
//    * line. However, there should be
//    * space between the name and the date/time
//    * if they can appear on the same line.
//    */
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

// ion-item p {
//   text-overflow: ellipsis;
//   overflow: hidden;
//   white-space: nowrap;
//   width: 95%;
// }

// ion-item .date {
//   align-items: center;
//   display: flex;
// }

// ion-item ion-icon {
//   color: #c9c9ca;
// }

// ion-item ion-note {
//   font-size: 0.9375rem;
//   margin-right: 8px;
//   font-weight: normal;
// }

// ion-item ion-note.md {
//   margin-right: 14px;
// }

// .dot {
//   display: block;
//   height: 12px;
//   width: 12px;
//   border-radius: 50%;
//   align-self: start;
//   margin: 16px 10px 16px 16px;
// }

// .dot-unread {
//   background: var(--ion-color-primary);
// }

// ion-footer ion-title {
//   font-size: 11px;
//   font-weight: normal;
// }
