.ios ion-title {
  padding:0;
}
.md ion-title {
  text-align: center;
  padding:0;
  width: calc(100% - 48px);
}
.sub-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
}
.ios ion-list-header,.ios ion-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
}

.liberar-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
// .liberar-content * {
//     width: 100%;
// }
.justificativa{
  width: 100%;
}
ion-select {
  --width: 100%;
}

ion-select::part(container) *{
  width: 100%;
}

.select-wrapper-inner
 {
    width: 100%;
}