.logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo,
.logo-short {
  height: 40px;
  width: auto;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.logo {
  display: none;
}

ion-header {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

/* ANDROID / WEB (md) */
ion-header.header-md {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

ion-header.header-md.hidden {
  box-shadow: none;
}

/* iOS */
ion-toolbar {
  padding: 0 10px;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease;
  --background: var(--pure-0);
}

ion-header.hidden ion-toolbar {
  --box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* movimento */
ion-header.hidden {
  transform: translateY(-100%);
}

.header-secondary, .header-secondary p {
  display: flex;
  align-items: center;
}


/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
  --background: var(--gray-2);
  --color: var(--gray-80);
  --placeholder-color: var(--gray-80);
  --icon-color: var(--blue-warm-vivid-70);
  --clear-button-color: var(--gray-80);
  --box-shadow: none;
  --border-radius: 4px;
}
ion-searchbar.custom .header-content {
  --display: flex;
}

ion-list {
  padding-top:0;
}

ion-list-header {
  border-bottom:1px solid var(--gray-10);
  padding: 4px 0;
  min-height: 0;
}

ion-list-header ion-label {
  text-transform: uppercase;
  text-align: center;
  margin-top:0;
  margin-bottom:0;
}