<ion-header [class.hidden]="hideHeader">
  <ion-toolbar>
      <ion-buttons slot="start">
        <img src="../../assets/logos/logo-eprocesso-short.svg" alt="">
      </ion-buttons>
      <ion-searchbar
        #searchbar
        [debounce]="1000"
        (ionInput)="handleInput($event)"
        placeholder="Filtrar processos..."
        class="custom"
      ></ion-searchbar>
      <ion-buttons slot="end">
        <br-button class="m-2" id="circle" emphasis="secondary" shape="circle" aria-label="Menu">
          <br-icon icon-name="fa6-solid:ellipsis-vertical"></br-icon>
        </br-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header color="light">
      <ion-label>
        @if (estaFiltrando) {
          <div class="total-processos">Filtrados&nbsp;<b>{{ quantidadeProcessosFiltrados }}</b>&nbsp;de&nbsp;<b>{{ quantidadeProcessos }}</b>&nbsp;processos<ion-button shape="round" size="small" fill="clear" aria-label="Limpar filtros" (click)="limparTodosFiltros()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button></div>
        } @else {
          <div class="total-processos"><b>{{ quantidadeProcessos }}</b>&nbsp;processos para<ion-button fill="clear" size="small" (click)="filtrarLiberar()" class="button-no-padding">Liberar</ion-button>ou<ion-button fill="clear" size="small" (click)="filtrarAssinar()" class="button-no-padding">Assinar</ion-button></div>
        }
      </ion-label>

    </ion-list-header>
    <ion-accordion-group
      [multiple]="true"
      [value]="valoresAccordion"
      expand="inset"
    >

      @for (prioridade of prioridades; track prioridade.tipo) {

        @if (processosPorPrioridade(prioridade.tipo).length > 0) {

          <ion-accordion
            [value]="prioridade.tipo"
            [class]="'border-' + prioridade.color"
          >

            <ion-item slot="header" [color]="prioridade.color">
              <ion-label>
                Prioridade <b>{{ prioridade.tipo }}</b>
              </ion-label>
            </ion-item>

            <div slot="content">
              @for (
                processo of processosPorPrioridade(prioridade.tipo);
                track processo.id
              ) {
                <app-processo
                  *ngFor="let processo of processos"
                  [processo]="processo"
                  [routerLink]="['/processo', processo.id]">
                </app-processo>
              }
            </div>

          </ion-accordion>

        }

      }

    </ion-accordion-group>
  </ion-list>
</ion-content>
